* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #ff0099 0%, #160c12 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    width: 40%;
    min-width: 400px;

}

h1{
    text-align: center;
    margin-bottom: 1.5rem;
}

.input-section {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

input{
    flex: 1;
    padding: 0.8rem;
    border: 2px solid #ddd;
    border-radius: 0.6rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus{
    border-color: aqua;
}

button{
    padding: 0.8rem 1.5rem;
    color: white;
    background: #667eea;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

button:hover{
    background: #764ba2;
}

.qr-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#qrcode{
    padding: 1rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#download-btn{
    width: 100%;
    margin-top: 1rem;
}